/* GENERAL */

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    display: block;
    height: auto;
}

body {
    @include sticky-footer;
    font-family: "Montserrat", "Arial", sans-serif;
}

ul {
    @include list-unstyle;
}

a {
    @include link-unstyle;
}

/* STICKY-FOOTER */

.site-main {
    flex-grow: 1;
}