.learn {
  padding-top: 58px;
  padding-bottom: 58px;
}

.learn__course {
  text-align: center;
}

.learn__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: var(--main-black-color);
  margin-top: 28px;
}

.learn__item:nth-child(1)::before {
  background-image: none;
  background-repeat: no-repeat;
  background-image: url("../images/computer.svg");
  width: 151px;
  height: 92px;
}

.learn__item:nth-child(2)::before {
  background-image: none;
  background-repeat: no-repeat;
  background-image: url("../images/c-language.svg");
  width: 85px;
  height: 92px;
}

.learn__item:nth-child(3)::before {
  background-image: none;
  background-repeat: no-repeat;
  background-image: url("../images/python.svg");
  width: 95px;
  height: 92px;
}

.learn__item-list:nth-child(1)::before {
  background-image: none;
  background-repeat: no-repeat;
  background-image: url("../images/python-django.svg");
  width: 95px;
  height: 92px;
}

.learn__item-list:nth-child(2)::before {
  background-image: none;
  background-repeat: no-repeat;
  background-image: url("../images/sql.svg");
  width: 95px;
  height: 92px;
}

.learn__items-list::before {
  background-image: url("../images/github.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: inline-block;
  width: 189px;
  height: 106px;
  margin-bottom: 25px;
}

@include mobile-first(1024px) {
  .learn__course {
    text-align: left;
  }

  .learn__course-text {
    text-align: left;
  }

  .learn__text {
    text-align: left;
    margin-top: 51px;
  }

}