.learn-studen-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 50px;
  margin-bottom: 36px;
}

.learn-stuent-spam {
  font-weight: 700;
  font-size: 32px;
  line-height: 50px;
  color: #00DB65;
}

.learn-list-title {
  margin-bottom: 9.68px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #1B8CDE;
}

.learn-list-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}

.learn-item-box {
  padding: 21px;
  width: 246.91px;
  height: 232.42px;
  background: #FFFFFF;
  box-shadow: 0px 27.2181px 21.4604px 6.80452px rgba(0, 0, 0, 0.05);
  border-radius: 5.75767px;
}

.learn-item {
  display: flex;
  position: relative;
  margin-left: 50px;

  &::before {
    content: "";
    background-image: url("../images/student.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 52.49px;
    height: 52.49px;
    position: absolute;
    bottom: 0;
    left: -50px;
  }

}

@include mobile-first(768px) {

  .learn-item-box {
    padding: 39px;
  }

  .learn-list-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #1B8CDE;
  }

  .learn-list-text {
    margin-top: 22px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
  }

  .result-img {
    margin-top: 23px; 
    width: 365px;
    height: 206px;
  }

  .learn-item {
    margin-left: 70px;

    &::before {
      left: -70px;
      width: 62px;
      height: 62px;
    }
  }

  .students-learn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .learn-item-box {
    width: 443px;
    height: 417px;
    background: #FFFFFF;
    box-shadow: 0px 52px 41px 13px rgba(0, 0, 0, 0.05);
    border-radius: 11px;
  }

}

@include mobile-first(1024px) {
  
  .students-learn {
  }

  .learn-item-box {
    padding: 39px;
  }

  .learn-list-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #1B8CDE;
  }

  .learn-list-text {
    margin-top: 22px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
  }

  .result-img {
    margin-top: 23px; 
    width: 365px;
    height: 206px;
  }

  .learn-item-box {
    width: 443px;
    height: 417px;
    background: #FFFFFF;
    box-shadow: 0px 52px 41px 13px rgba(0, 0, 0, 0.05);
    border-radius: 11px;
  }

  .learn-studen-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
  }

  .learn-stuent-spam {
    font-weight: 700;
    color: #00DB65;
  }

  .learn-item {
    margin-left: 100px;

    &::before {
      left: -100px;
      width: 82px;
      height: 82px;
    }
  }

}